{% extends 'master.html' %}
{% block 'title' %} CSIT list  {% endblock %}
{% block 'content' %}
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Faculty</th>
                <th>Semester</th>
                <th>Year</th>
                <th>Options</th>

            </tr>
        </thead>
        <tbody>
        {% for x in sts %}


            <tr>
                <td>{{ x.fullname }}</td>
                <td>{{ x.contact_no }}</td>
                <td>{{ x.address }}</td>
                <td>{{ x.faculty }}</td>
                <td>{{ x.semester }}</td>
                <td>{{ x.year }}</td>
                <td><a href="{% url 'update_student' x.id %}" class="btn btn-sm btn-info">View</a>|
                    <a href="{% url 'delete_student' x.id %}" class="btn btn-sm btn-danger">Delete</a></td>
            </tr>
 {% endfor %}
        </tbody>
    </table>

{% endblock %}