<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
  <title>Login</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->

</head>
<div class = "container">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            </div>
            <div class="col-md-4 col-md-offset-4">
            {% include 'partials/message.html' %}
            <h3>Login</h3>
            <form action="{% url 'login' %}" method="POST">
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="form-control">
                    </div>

                    <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="pass1" class="form-control">
                    </div>
                <hr>
                {% csrf_token %}
                    <input type="submit" value="Login" class="btn btn-primary">
                <br>
            </form>
        </div>
    </div>
</div>

</html>